body {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	margin: 50px 100px 0px 100px;
}

img {
	width:145px;
}

#right {
	float:right;
}

#right > div {
	text-align: center;
	border: solid 5px gray;
	border-radius: 10px;
	padding: 10px;
}

#names img {
	width: 40px;
	vertical-align: middle;
}

#names input {
	border: solid 1px gray;
	border-radius: 5px;
	font-size: 12pt;
	width: 150px;
}

#start {
	margin-top: 10px;	
}

#start button {
	margin-top: 10px;
}

#start, #final {
	visibility: hidden;
}

#final {
	margin-top: 10px;
}

#msg {
	color: red;
	font-style: italic;
}

.is_disabled {
    opacity: .3;
    pointer-events: none;
}
